<h2>Choose a Recipe or Choose by <a href="/tags">Tags</a></h2>

<ul>
<% @recipes.each do |recipe| %>
  <li>Recipe Name: <a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></li>
<% end %>
</ul>

<p><a href="/recipes/new">Create a new Recipe</a></p>
